<h1>Edit director</h1>

<% @director.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with(model: @director, method: :patch) do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :dob %>
    <%= form.text_area :dob %>
  </div>

  <%= form.button %>

<% end %>
